@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Controle de vendas</h1>
</div>
<br/>
<br />
<div class="text-center">
    <img src="~/Imagens/FLEEG-Sistema-para-controle-de-vendas.png" alt="Logo" class="img-fluid" />
</div>